*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Lighthouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.s{
    padding: 25px;
    margin-left: 65px;
    color: whitesmoke;
    font-size: 20px;
}
h2{
    margin-top: 35px;
    margin-left:35px ;
}
input{
    height:30px;
    width: 250px;
}
textarea{
    height:80px;
    width: 250px;
}

@media screen and (min-width: 1024px) {
    .s{
        text-align: center;
        padding: 0;
        margin-top: 35px;
    }
    h2{
        text-align: center;
    }
}
